{% extends 'main/base.html' %}

{% block title %}list of guitars{% endblock %}

{% block content %}
<h2>List guitars</h2>

<ul>
    <p>Number of guitars in our shop: {{ object_list|length }}</p>
    <div class="container">
        <div class="row">
        {% for object in object_list %}
            <div class="col-sm">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h4>{{ object.manufacturer }} {{ object.model }}</h5>
                        <h5> {{ object.price }} zl</h5>
                        <p> {{ object.main_img.url }} </p>
                        <img src="{{ object.main_img.url }}" class="img-responsive" style="width:150px; height:300px;" alt="guitar main image"/>
                    </div>

                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</ul>

{% endblock %}

